<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrang.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <script></script>
</head>
<body>
<div th:fragment="contentFragment">
    <div class="footer_height">
        <div>
            공지사항 박스
        </div>
        <div>
            랜덤 박스
        </div>
        <div>
            새로 추가된 가게 박스
        </div>
        <hr>
        <div id="wrap">
            랭킹1(슬라이드 형식)
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>

        </div>

        <div id="wrap">
            랭킹2(슬라이드 형식)
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>
        </div>

        <div id="wrap">
            랭킹3(슬라이드 형식)
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>
            <div class="d1">div 사진</div>
        </div>
    </div>
</div>
</body>
</html>
