<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
타임리프 첫 페이지
<div th:text="${data}"></div>
<span th:text="${#execInfo.getTemplateName()}"></span>
<p th:utext="#{greeting}">111111111111</p>
<!--<span th:text="${@environment.getProperty('spring.datasource.url')}"></span>-->
<p th:utext="${#locale}"></p>
<!--<p th:utext="${#session}"></p>-->
<p th:utext="*{#calendars.format(today, 'yyyy-MM-dd')}">2019-08-18</p>
<p th:utext="${#calendars.format(today, 'yyyy/MM/dd')}">2019-08-18</p>


<!--<form th:action="@{/singup}">-->
<!--    <div th:if="${user.isPresent()}">-->
<!--        <label>Nickname</label>-->
<!--        <input type="text" value="112123" name="121323">-->
<!--        <input type="text" th:value="${user.get().email}" name="nickname">-->
<!--        <lable>Password</lable>-->
<!--        <input type="text" th:value="${user.get().getPassword()}" name="password">-->
<!--    </div>-->
<!--</form>-->

<!--<form th:action="@{/singup}">-->
<!--    <div th:if="${user != null}">-->
<!--        <label>Nickname</label>-->
<!--        <input type="text" value="112123" name="121323">-->
<!--        <input type="text" th:value="${user.getEmail()}" name="nickname">-->
<!--        <lable>Password</lable>-->
<!--        <input type="text" th:value="${user.getPassword()}" name="password">-->
<!--    </div>-->
<!--</form>-->
<!--<div th:if="${user.isPresent()}">-->
<!--    <form th:object="${user}" th:action="@{/singup}">-->
<!--        <label>Nickname</label>-->
<!--        <input type="text" value="112123" name="121323">-->
<!--        <input type="text" th:value="*{get().getUsername()}" name="nickname">-->
<!--        <lable>Password</lable>-->
<!--        <input type="text" th:value="*{get().getEmail()}" name="password">-->
<!--    </form>-->
<!--</div>-->
<!--<a th:href="@{http://www.naver.com}">네이버</a><br>-->

<!--<a href="/order/3/details?search='장갑'">Search</a>-->
<!--<a th:href="@{/order/{orderId}/details(search=${search})}">주문제품</a><br>-->
<!--<a th:href="@{/order/{orderId}/{fild}/details(orderId=${user.id}, fild='aaa', query=${query})}">view</a>-->

<!--<span th:text="${@environment.getProperty('spring.datasource.url')}"></span>-->

<!--[[${orderId}}-->
<!--<div th:if="${orderId}> 1">-->
<!--    <sapn th:text="'Execution mode is ' + ( (${execMode}=='dev')?"></sapn>-->
<!--</div>-->

<!--<table>-->
<!--    <tr th:each="item : ${list}">-->
<!--        <td th:text="${item.getusername()}"></td>-->
<!--        <td th:text="${item.getEmail()}"></td>-->
<!--        <td th:text="${item.getPassword()}"></td>-->
<!--    </tr>-->
<!--</table>-->

<!--<table>-->
<!--    <tr th:each="item : ${list}" th:object="${item}">-->
<!--        <td th:text="*{item.getusername()}"></td>-->
<!--        <td th:text="*{item.getEmail()}"></td>-->
<!--        <td th:text="*{item.getPassword()}"></td>-->
<!--    </tr>-->
<!--</table>-->

<!--<div th:switch="${execMode}">-->
<!--    <div th:case="dev">-->
<!--        <div th:switch="${search}">-->
<!--    <span th:case="장갑">장갑</span>-->
<!--    <span th:case="바지">바지</span>-->
<!--    <span th:case="*">value3</span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:case="pro">pro</div>-->
<!--    <div th:case="*">default</div>-->
<!--</div>-->

<!--<table>-->
<!--    <tr th:each="item, itemStat : ${list}" th:object="${item}">-->
<!--        <td th:text="*{getUsername()}"></td>-->
<!--        <td th:text="*{getEmail()}"></td>-->
<!--        <td th:text="*{getPassword()}"></td>-->
<!--        <td th:text="'첫 게시물'" th:if="${itme}"></td>-->
<!--        <td th:text="'게시물'" th:unless="${itme}"></td>-->

<!--    </tr>-->
<!--</table>-->

<script th:inline="javascript">
    let search = [[${search}]]
    let list = [[${list}]]
    let username2 = [[${list[0].username}]];


    alert(username2);
</script>

</body>
</html>