<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<style>
    *{
        /*border: solid 1px blue;*/
        text-align: center;
    }
</style>

<body>

<div id="logo">
<h1>로고</h1>
</div>

<div id="content">
<h1>로그인 및 회원가입</h1>
    <h2>로그인을통해 ~~~ 의 혜택을 누리세요</h2>
    <input type="text" name="userId" placeholder="아이디 입력"><br>
    <input type="password" name="userPassword" placeholder="비밀번호 입력"><br>
    <input type="checkbox" name="idSave" value="userId" checked>로그인 상태 유지
    비밀번호 찾기<br>

    <button id="logBtn">로그인</button><br>
    또는<br>
    <button id="kakao_logBtn">카카오톡으로 로그인</button>
</div>

<div>
    <h3>아직도 ~~~ 회원이 아니신가요?</h3>
    <p>회원가입을 하시면 더 많은 정보와 혜택을 받으실 수 있습니다.</p>
    <button id="singUp">회원가입</button>
</div>




</body>
</html>