<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrang.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인 회원가입</title>
</head>
<body>
<div><h1>로고</h1></div>

<div>
<h2>개인 신규 회원가입하기</h2>

</div>

<div>
<!--    <input type="checkbox">개인가입-->
<!--    <input type="checkbox">점주가입<br>-->
    닉네임<input type="text" name="userNickName"><br>
    이름<input type="text" name="userName"><br>
    자기소개<input type="text" name="userNickName"><br>
    아이디<input type="text" name="userId"><br>
    비밀번호<input type="email" name="userPassword"><br>
    Email<input type="email" name="userEmail"><br>
    프로필 사진<input type="file" name="userImg"><br>
</div>


<div>
    <h2>이용약관</h2>

    이용약관<input type="checkbox" name="true"> 내용보기(링크? ? ? )<br>
    개인정보 취급방침<input type="checkbox" name="true"> 내용보기(링크? ? ? )<br>
    위치기반 서비스 이용약관<input type="checkbox" name="true"> 내용보기(링크? ? ? )<br>
</div>
<button>회원가입 완료</button>
</body>
</html>